:root
{
  --yellow: #1949b8;
    --orange : #1949b8;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
   
}

.App{
    padding: 0.5rem 3.5rem;
    overflow: hidden;
    color: var(--black);    
    /* background: url(./img/bg\ \(1\).png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center; */
}

.button {
    background:#1949b8;
    box-shadow: 0px 20px 24px 3px rgba(23, 8, 113, 0.42);
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 11px 26px 11px 26px;
  }
  
  .button:hover {
    background: white;
    cursor: pointer;
    border: 1px solid var(--orange);
    color: var(--orange);
  }
  .port2{
    display: none;
  }
  @media screen and (max-width: 480px) {
    .App {
      padding: 0.5rem 1rem;

    }
    .port1{
      display: none;
    }
    .port2{
      display: block;
    }
  }

  

  